.Tags
    max-height: 200px
    max-width: 380px
    flex: 1 1
    background-color: white
    border-radius: 8px
    display: flex
    flex-direction: column
    padding: 10px 0
    h3
        text-transform: uppercase
        text-align: center
        font-weight: 600
        font-size: 18px
        letter-spacing: -0.1125px
        color: #111210
        margin-top: 15px
    p
        margin: 20px
        margin-left: 40px
        margin-bottom: 0
        font-weight: 600
        font-size: 16px
        letter-spacing: -0.1px
        color: #111210
    p:hover
        color: #FF5480
    p:last-of-type
        margin-bottom: 20px