.Home
    display: flex
    justify-content: center
    .content
        max-width: 1174px
        width: 100%
        .lilHeader
            max-width: 150px
            display: flex
            justify-content: space-between
            p
            font-weight: 400
            font-size: 18px
            display: flex
            align-items: center
            letter-spacing: -0.075px
            color: #7f7f7f
            .active
                color: black
        .main
            margin-top: 20px
            display: flex
            justify-content: space-between
            flex: 1 1