.Header
    margin-top: 58px
    margin-bottom: 67px
    display: flex
    border-radius: 15px
    padding: 5px 40px
    display: flex
    justify-content: center
    .content
        width: 100%
        max-width: 1174px
        display: flex
        align-items: center
        div
            margin-right: 45px
            padding: 8px 20px
            border-radius: 10px
            cursor: pointer
        .active
            background-color: #FF5480
            color: white