.Post
    background-color: white
    max-width: 774px
    flex: 1 1
    border-radius: 8px
    display: flex
    flex-direction: column
    .postImage
        width: 400px
        flex-wrap: nowrap
        height: 400px
        background: black
        margin: 0 auto